<div class="d-flex">
  <aside id="sidebar" class="bg-dark border-right p-3">
    <h3 class="text-light">Gifs App</h3>
    <hr class="text-white" />
    <section class="list-group list-reset">
      <a class="list-group-item list-group-item-action" href="#">Dashboard</a>
    </section>
  </aside>

  <main class="container">
    <section class="row p3 mt-3">
      <article class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs..." />
      </article>
    </section>

    <hr />

    <section class="row">
      <div class="col">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor
        veritatis, dolore dolorum vero soluta blanditiis illo. Nisi voluptate
        repellat impedit quas reprehenderit neque eos, qui omnis illo, possimus
        eveniet enim! Necessitatibus delectus, in,
      </div>
    </section>
  </main>
</div>
