<div class="d-flex">
  <app-sidebar></app-sidebar>

  <main class="container">
    <section class="row p3 mt-3">
      <article class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs..." />
      </article>
    </section>

    <hr />

    <section class="row">
      <article class="col">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor
        veritatis, dolore dolorum vero soluta blanditiis illo. Nisi voluptate
        repellat impedit quas reprehenderit neque eos, qui omnis illo, possimus
        eveniet enim! Necessitatibus delectus, in,
      </article>
    </section>
  </main>
</div>
